{% extends 'cars/base.html' %}

{% block content %}
<div class="cars-list">
    <ul>
        {% for c in cars %}
        <li>
            <div class='car-detail'>
                <div>
                    <img src="{{c.photo.url}}"  class="car-photo" alt="">
                </div>
                <div class="car-info-block">
                    <h4>{{c.brand}}</h4>
                    <h5>{{c.model}}</h5>
                    {% autoescape on %}
                    <p>{{c.description|linebreaks|truncatewords:50}}</p>
                    {% endautoescape %}
                    <br>
                    <hr>
                    <p>Made in {{c.year}}</p>
                    <p class="read-more-container">
                        <a href="{{c.get_absolute_url}}" class="read-more-link">Read more</a>
                    </p>
                </div>
            </div>
            <br>
        </li>
        {% endfor %}
    </ul>
</div>



{% endblock %}
